/* FONT IMPORT */
@font-face {
    font-family: beatrice-font;
    src: url("/Fonts/beatrice-font/Beatrice-BW7r5.ttf");
  }

@font-face {
    font-family: dominik-thin;
    src: url("/Fonts/dominik-font/DominikThin-E13W.ttf");
  }  

@font-face {
    font-family: dominik-reg;
    src: url("/Fonts/dominik-font/Dominik-Wm6n.ttf");
  } 

:root {
    --blue: #8BB6C4;
    --oryellow: #FFD068;
    --yellow: #FAE056;
    --navy: #1F1F55;
    --red: #D73739;
    --white: #F8F2ED;
    --primary-shadow: #8b8eaf;
  }

nav {
    background-color: var(--blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2 {
  font-family: "beatrice-font";
  color: var(--red);
  text-shadow: 2px 2px var(--primary-shadow);
}

h3 {
  font-family: "dominik-reg";
}

body {
  font-family: "dominik-reg";
  background-color: white;
  color: var(--navy);
}

.heroImg {
    display: grid;
    height: 100%;
    max-width: 99.9%;
}

.stripImg {
    display: grid;
    height: 100%;
    max-width: 99.9%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 50px 0 rgba(0, 0, 0, 0.19);
}


#aboutImg {
    width: 90%;
    margin-top: 30px;
    padding-left: 100px;
}

.btn-primary {
  background-color: var(--blue);
}


/* Skills section */
  .skills {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    background-color: var(--blue);
    padding-bottom: 35px;
  }
  
  .skill-header {
    margin-top: 30px;
    margin-bottom: 16px;
    padding-top: 35px;
    color: var(--white);
  }
  
  .skills-wrapper img {
    padding: 5px;
  }
  
  .icon {
    width: 190px;
    height: 180px;
  }

  .icon {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }


/* Project section */
 .projects {
    padding: 32px 0;
    margin-top: 32px;
  }

  .projects-summary {
      text-align: center;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .project-container {
    text-align: center;
    width: 350px;
    padding: 16px;
  }

  .project-container p {
    padding: 6.5px;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
 .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

 .project-link {
    color:#FAA500;
  }


/* Contact Me Form */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
 }

 .container {
  border-radius: 5px;
  background-color: var(--white);
  padding: 20px;
 }