/* Variables */
:root {
    --font-family: "Garamond", serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #FAA500;
    --primary-color: #F8F2ED;
    --secondary-color: #D8DF8B;
    --white: white;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
  }
    /* Variables end */

  /* CSS resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
    background-color: #F8F2ED;
    font-family: var(--font-family);
    color: black;
  }

  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 56px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 img {
    max-width: 100%;
    height: auto;
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
  }

  .hero img {
    padding-left: 30px;
    height: 400px;
    width: 800px;
    display: flex;
    flex-shrink: 3;
  }

  .bio {
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    background-color: white;
  }
  
  .bio-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio-text {
    line-height: var(--line-height);
    padding: 30px 0;
  }

  .skills {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    background-color: var(--bg-color);
  }
  
  .skill-header {
    margin-bottom: 16px;
    padding: 15px;
    color: #F8F2ED;
  }
  
  .skills-wrapper img {
    padding: 5px;
  }
  
  .icon {
    width: 190px;
    height: 180px;
  }

  .icon {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }